.app-body {
  max-width: 1264px;
  margin: 0 auto;
  border: 2px solid #8b4513;
  background: #fff8dc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.app-body .app-inner {
  text-align: center;
}
.app-body .app-inner .app-header {
  font-size: 32px;
}
.app-body .app-inner .box-list ul {
  display: block;
  padding: 0;
  width: 50%;
  margin: 0 auto 40px;
  border: 2px solid #778899;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-image: radial-gradient(circle 827px at 47.3% 48%, white 0%, #8ac0d8 90%);
}
.app-body .app-inner .box-list ul.person {
  width: 30%;
  margin-top: -20px;
}
.app-body .app-inner .box-list ul.person button {
  margin: 10px;
  padding: 8px;
  color: #f53505;
  font-weight: bold;
  background: #fff;
  border: 1px solid #f53505;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  cursor: pointer;
}
.app-body .app-inner .box-list ul.person button.disabled {
  background: lightgray;
  border-color: lightgray;
  color: darkgrey;
  cursor: not-allowed;
}
.app-body .app-inner .box-list ul.person button.disabled:hover {
  background: lightgray;
  border-color: lightgray;
  color: darkgrey;
}
.app-body .app-inner .box-list ul.person button:hover {
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  color: #fff;
  background: #f53505;
}
.app-body .app-inner .box-list ul.person button:focus {
  outline: 0;
}
.app-body .app-inner .box-list ul .box-item {
  list-style: none;
  display: block;
}
.app-body .app-inner .box-list ul .box-item:first-child {
  margin-top: 8px;
}
.app-body .app-inner .box-list ul .box-item p {
  display: inline-block;
  margin: 8px 10px;
  color: #003767;
  font-weight: bold;
  font-size: 18px;
}
.app-body .app-inner .box-list ul .box-item p:last-child {
  color: darkslategray;
}
.app-body .app-inner .box-list ul .summary-p {
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 0;
  font-size: 18px;
  border-top: 1px solid #778899;
}
.app-body .app-inner .button-wrapper button {
  margin: 10px 20px 20px;
  padding: 8px;
  border: 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: limegreen;
  color: #fff;
  font-weight: bold;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  cursor: pointer;
}
.app-body .app-inner .button-wrapper button:focus {
  outline: 0;
}
.app-body .app-inner .button-wrapper button:hover {
  background: #ffaa55;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.app-body .app-inner .button-wrapper button.disabled {
  background: lightgray;
  border-color: lightgray;
  color: darkgrey;
  cursor: not-allowed;
}
.app-body .app-inner form .name-selector {
  width: 171px;
  height: 24px;
  line-height: 24px;
  box-sizing: content-box;
  margin-top: 15px;
}
.app-body .app-inner form .name-selector:focus {
  outline: 0;
  outline-offset: 0;
}
.app-body .app-inner form.selector-container > div:last-child {
  margin-bottom: 0;
}
.app-body .app-inner form > div {
  display: block;
}
.app-body .app-inner form > div:last-child {
  margin-bottom: 40px;
}
.app-body .app-inner form > div input {
  display: inline-block;
  margin: 15px auto;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  border: 1px solid slategray;
  padding-left: 3px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.app-body .app-inner form > div input:focus {
  outline: 0;
}
.app-body .app-inner form > div .error-message {
  color: #f53505;
  margin: -10px 10px 10px;
}
.app-body .app-inner form > div .prefix {
  display: inline-block;
  height: 22px;
  line-height: 24px;
  font-size: 14px;
  border: 1px solid slategray;
  border-right: 0;
  padding-left: 3px;
  padding-right: 3px;
  background: lightgray;
  font-weight: bold;
  border-top-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}
.app-body .app-inner form .phone-number-container input {
  border-top-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-bottom-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
}
.app-body .app-inner form .submit-holder button {
  padding: 8px;
  margin: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  cursor: pointer;
  border: 0;
  font-weight: bold;
}
.app-body .app-inner form .submit-holder button:focus {
  outline: 0;
}
.app-body .app-inner form .submit-holder .submit {
  background: limegreen;
  color: #fff;
  border: 1px solid limegreen;
}
.app-body .app-inner form .submit-holder .submit:hover {
  background: #ffaa55;
  border-color: #ffaa55;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
}
.app-body .app-inner form .submit-holder .reset {
  color: #f53505;
  background: #fff;
  border: 1px solid #f53505;
}
.app-body .app-inner form .submit-holder .reset:hover {
  background: #f53505;
  border-color: #f53505;
  color: #fff;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
}
.app-body .app-inner .check-button {
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 0;
  cursor: pointer;
  background: brown;
  color: #fff;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.app-body .app-inner .check-button:focus {
  outline: 0;
}
.app-body .app-inner .check-button:hover {
  background: #720001;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.app-body .app-inner .check-button.disabled {
  background: lightgray;
  color: darkgrey;
  cursor: not-allowed;
}
.app-body .outer-button-wrapper {
  max-width: 1264px;
  margin: 0 auto;
  text-align: center;
}
.app-body .outer-button-wrapper .finish-button {
  margin: 10px 5% 30px 30%;
  padding: 12px;
  font-size: 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid darkslategray;
  background: darkslategray;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.app-body .outer-button-wrapper .finish-button:focus {
  outline: 0;
}
.app-body .outer-button-wrapper .finish-button:hover {
  background: #4bb543;
  border-color: #4bb543;
  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.app-body .outer-button-wrapper .finish-button.disabled {
  background: lightgray;
  border-color: lightgray;
  color: darkgrey;
  cursor: not-allowed;
}
.app-body .outer-button-wrapper .back-button {
  margin: 10px 30% 30px 5%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid darkslategray;
  background: darkslategray;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.app-body .outer-button-wrapper .back-button:focus {
  outline: 0;
}
.app-body .outer-button-wrapper .back-button:hover {
  background: #f53505;
  border-color: #f53505;
  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
}

/*# sourceMappingURL=order.component.css.map */
