.app-body {
  max-width: 1264px;
  margin: 0 auto;
  border: 2px solid #8b4513;
  background: #fff8dc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.app-body .app-inner {
  text-align: center;
}
.app-body .app-inner .app-header {
  font-size: 32px;
}
.app-body .app-inner .box-list ul {
  padding: 0;
  width: 50%;
  margin: 0 auto 40px;
  border: 2px solid #778899;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-image: radial-gradient(circle 827px at 47.3% 48%, white 0%, #8ac0d8 90%);
}
.app-body .app-inner .box-list ul .box-item {
  list-style: none;
  display: block;
}
.app-body .app-inner .box-list ul .box-item:first-child {
  margin-top: 8px;
}
.app-body .app-inner .box-list ul .box-item p {
  display: inline-block;
  margin: 8px 10px;
  color: #003767;
  font-weight: bold;
  font-size: 18px;
}
.app-body .app-inner .box-list ul .box-item p:last-child {
  color: darkslategray;
}
.app-body .app-inner .box-list ul .summary-p {
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 0;
  font-size: 18px;
  border-top: 1px solid #778899;
}
.app-body .app-inner .button-wrapper button {
  margin: 10px 20px 20px;
  padding: 8px;
  border: 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: limegreen;
  color: #fff;
  font-weight: bold;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  cursor: pointer;
}
.app-body .app-inner .button-wrapper button:focus {
  outline: 0;
}
.app-body .app-inner .button-wrapper button:hover {
  background: #ffaa55;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.app-body .app-inner .button-wrapper button.disabled {
  background: lightgray;
  border-color: lightgray;
  color: darkgrey;
  cursor: not-allowed;
}
.app-body .app-inner .form-container {
  text-align: center;
}
.app-body .app-inner .form-container .name-selector {
  width: 171px;
  height: 24px;
  line-height: 24px;
  box-sizing: content-box;
  margin-top: 15px;
}
.app-body .app-inner .form-container .name-selector:focus {
  outline: 0;
  outline-offset: 0;
}
.app-body .app-inner .form-container input {
  display: block;
  margin: 15px auto;
  height: 20px;
  line-height: 20px;
}
.app-body .app-inner .form-container input:focus {
  outline: 0;
}
.app-body .app-inner .form-container input:last-child {
  margin-bottom: 40px;
}
.app-body .app-inner .check-button {
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 0;
  cursor: pointer;
  background: brown;
  color: #fff;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.app-body .app-inner .check-button:focus {
  outline: 0;
}
.app-body .app-inner .check-button:hover {
  background: #720001;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.app-body .app-inner .check-button.disabled {
  background: lightgray;
  color: darkgrey;
  cursor: not-allowed;
}
.app-body .outer-button-wrapper {
  max-width: 1264px;
  margin: 0 auto;
  text-align: center;
}
.app-body .outer-button-wrapper .finish-button {
  margin: 10px 5% 30px 30%;
  padding: 12px;
  font-size: 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid darkslategray;
  background: darkslategray;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.app-body .outer-button-wrapper .finish-button:focus {
  outline: 0;
}
.app-body .outer-button-wrapper .finish-button:hover {
  background: #4bb543;
  border-color: #4bb543;
  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.app-body .outer-button-wrapper .finish-button.disabled {
  background: lightgray;
  border-color: lightgray;
  color: darkgrey;
  cursor: not-allowed;
}
.app-body .outer-button-wrapper .back-button {
  margin: 10px 30% 30px 5%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid darkslategray;
  background: darkslategray;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.app-body .outer-button-wrapper .back-button:focus {
  outline: 0;
}
.app-body .outer-button-wrapper .back-button:hover {
  background: #f53505;
  border-color: #f53505;
  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
}

/*# sourceMappingURL=order.component.css.map */
