.app-header {
  max-width: 1264px;
  position: relative;
  margin: 0 auto;
  height: 250px;
  padding-bottom: 40px;
  text-align: center;
  display: block;
  border: 2px solid #8b4513;
  border-bottom: 0;
  background: #fff8dc;
  border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  cursor: default;
}
.app-header p {
  margin-bottom: 0;
}
.app-header .basket {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  width: 340px;
  max-height: 300px;
  overflow: auto;
  display: inline-block;
  float: right;
  border: 2px solid #778899;
  margin-right: 40px;
  margin-top: 20px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  text-align: center;
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
.app-header .basket .fa-shopping-basket {
  font-family: FontAwesome;
  font-style: normal;
  display: inline-block;
  margin-right: 20px;
  float: right;
  position: absolute;
  right: 0;
  top: 15px;
  color: brown;
}
.app-header .basket .fa-shopping-basket:before {
  font-size: 22px;
}
.app-header .basket p {
  font-weight: bold;
  text-decoration: underline;
}
.app-header .basket ul {
  padding-left: 10px;
  margin-bottom: 10px;
  display: block;
}
.app-header .basket ul .item-holder {
  list-style: none;
  display: inline-block;
  margin-top: 5px;
  color: #003767;
  line-height: 23px;
  min-width: 317px;
}
.app-header .basket ul .item-holder p {
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
  margin-top: 0;
}
.app-header .basket ul .item-holder .delete-button {
  float: left;
  margin-right: 15px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  border: 0;
  color: #fff;
  background: brown;
  padding: 4px;
  cursor: pointer;
}
.app-header .basket ul .item-holder .delete-button:hover {
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  background: #720001;
}
.app-header .basket ul .item-holder .delete-button:focus {
  outline: 0;
}
.app-header .basket .redirect-button {
  padding: 8px;
  border: 1px solid limegreen;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: limegreen;
  color: #fff;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  cursor: pointer;
}
.app-header .basket .redirect-button:hover {
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  background: #ffaa55;
  border-color: #ffaa55;
}
.app-header .basket .redirect-button:focus {
  outline: 0;
}
.app-header .basket .clear-basket-button {
  padding: 8px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: #fff;
  color: #f53505;
  border: 1px solid #778899;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  cursor: pointer;
}
.app-header .basket .clear-basket-button:focus {
  outline: 0;
}
.app-header .basket .clear-basket-button:hover {
  color: #fff;
  background: #f53505;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  border-color: #f53505;
}

.app-body {
  max-width: 1264px;
  display: block;
  border: 2px solid #8b4513;
  border-top: 0;
  background: #fff8dc;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  height: 100%;
  margin: 0 auto 20px;
  overflow: auto;
  position: relative;
}
.app-body .body-wrapper {
  max-width: calc(100% - 340px);
  margin-left: 40px;
  margin-bottom: 60px;
  cursor: default;
}
.app-body .body-wrapper .button-wrapper button {
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: #32cd32;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  outline: 0;
  border: 0;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  cursor: pointer;
}
.app-body .body-wrapper .button-wrapper button:hover {
  background: #ffaa55;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.app-body .body-wrapper .button-wrapper .list-show-button {
  margin-right: 30px;
}
.app-body .body-wrapper h3 {
  margin-top: 0;
}
.app-body .body-wrapper ul {
  padding-left: 30px;
}
.app-body .body-wrapper ul .pizza-type {
  max-width: 60%;
  display: flex;
  line-height: 30px;
  font-weight: bold;
  text-decoration: underline;
  color: black;
  cursor: pointer;
}
.app-body .body-wrapper ul .pizza-type:hover, .app-body .body-wrapper ul .pizza-type:focus {
  color: #ffaa55;
}
.app-body .body-wrapper ul .pizza-type .pizza-toppings {
  display: block;
}
.app-body .body-wrapper ul .pizza-type .pizza-toppings div {
  display: inline-block;
}
.app-body .body-wrapper ul .pizza-type .pizza-toppings div p {
  display: inline-block;
  margin-left: 5px;
  margin-top: 0;
  margin-bottom: 0;
  color: #003767;
  cursor: text;
}
.app-body .body-wrapper ul .pizza-type .pizza-toppings div p:hover, .app-body .body-wrapper ul .pizza-type .pizza-toppings div p:focus {
  color: #003767;
}
.app-body .offer-page {
  display: inline-block;
  text-align: center;
  background: url("../../../assets/images/order.jpg");
  margin-bottom: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.app-body .offer-page:nth-child(2n+1) {
  margin-right: 10px;
}
.app-body .offer-page:nth-child(2n) {
  margin-right: 20px;
  margin-left: 10px;
}
.app-body .offer-page .pizza-head .pizza-header {
  color: #fff8dc;
  margin: 10px auto;
  width: 40%;
  background: rgba(0, 0, 0, 0.1);
}
.app-body .offer-page .pizza-head .pizza-image {
  width: 40%;
}
.app-body .offer-page .pizza-body .option-chooser {
  display: block;
}
.app-body .offer-page .pizza-body .option-chooser .thickness {
  display: inline-block;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.app-body .offer-page .pizza-body .option-chooser .thickness .thick-button {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10px;
  padding: 8px;
}
.app-body .offer-page .pizza-body .option-chooser .thickness .thick-button.disabled {
  background: #f53505;
  border-color: #f53505;
  cursor: not-allowed;
}
.app-body .offer-page .pizza-body .option-chooser .thickness .thin-button {
  margin-left: 5%;
  margin-right: 5%;
  padding: 8px;
}
.app-body .offer-page .pizza-body .option-chooser .thickness .thin-button.disabled {
  background: #f53505;
  border-color: #f53505;
  cursor: not-allowed;
}
.app-body .offer-page .pizza-body .option-chooser .thickness button {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: limegreen;
  color: #fff;
  font-weight: bold;
  border: 1px solid green;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  cursor: pointer;
}
.app-body .offer-page .pizza-body .option-chooser .thickness button:hover {
  background: #ffaa55;
  border-color: darkorange;
}
.app-body .offer-page .pizza-body .option-chooser .thickness button:focus {
  outline: 0;
}
.app-body .offer-page .pizza-body .option-chooser .diameter {
  width: 40%;
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
}
.app-body .offer-page .pizza-body .option-chooser .diameter .button-32 {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10px;
  padding: 8px;
  width: 50%;
}
.app-body .offer-page .pizza-body .option-chooser .diameter .button-32.disabled {
  background: #f53505;
  border-color: #f53505;
  cursor: not-allowed;
}
.app-body .offer-page .pizza-body .option-chooser .diameter .button-50 {
  margin-left: 5%;
  margin-right: 5%;
  padding: 8px;
  width: 50%;
}
.app-body .offer-page .pizza-body .option-chooser .diameter .button-50.disabled {
  background: #f53505;
  border-color: #f53505;
  cursor: not-allowed;
}
.app-body .offer-page .pizza-body .option-chooser .diameter button {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: limegreen;
  color: #fff;
  font-weight: bold;
  border: 1px solid green;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  cursor: pointer;
}
.app-body .offer-page .pizza-body .option-chooser .diameter button:hover {
  background: #ffaa55;
  border-color: darkorange;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.app-body .offer-page .pizza-body .option-chooser .diameter button:focus {
  outline: 0;
}
.app-body .offer-page .pizza-body .option-chooser .price-area {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  color: #fff8dc;
}
.app-body .offer-page .pizza-body .option-chooser .price-area .show-price {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
}
.app-body .offer-page .pizza-body .option-chooser .price-area .choose-price {
  display: inline-block;
  margin-left: 20px;
}
.app-body .offer-page .pizza-body .button-area {
  background: rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
.app-body .offer-page .pizza-body .button-area .button-wrapper {
  margin-bottom: 20px;
  margin-top: 10px;
}
.app-body .offer-page .pizza-body .button-area .button-wrapper .placeholder {
  width: 22px;
  height: 22px;
  border: 0;
  padding: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-right: 10px;
  cursor: not-allowed;
}
.app-body .offer-page .pizza-body .button-area .button-wrapper button {
  width: 32px;
  height: 32px;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: limegreen;
  color: #fff;
  font-weight: bold;
  border: 1px solid green;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  cursor: pointer;
}
.app-body .offer-page .pizza-body .button-area .button-wrapper button:hover {
  background: #ffaa55;
  border-color: darkorange;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.app-body .offer-page .pizza-body .button-area .button-wrapper button:focus {
  outline: 0;
}
.app-body .offer-page .pizza-body .button-area .button-wrapper .placeholder {
  text-align: center;
  font-weight: bold;
}
.app-body .offer-page .pizza-body .button-area .order-button {
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  border: 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #fff;
  background: brown;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  cursor: pointer;
}
.app-body .offer-page .pizza-body .button-area .order-button:hover {
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  background: #720001;
}
.app-body .offer-page .pizza-body .button-area .order-button:focus {
  outline: 0;
}

.app-footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background: rgba(255, 255, 255, 0.25);
}

/*# sourceMappingURL=data.component.css.map */
