<div class="app-header">
  <h1 class="header">
    Pizzarendelő alkalmazás
  </h1>
  <p>Válaszd ki tetszés szerint kedvenceidet és rendeld meg azokat!</p>
  <div class="basket">
    <p>A kosár</p>
    <i class="fas fa-shopping-basket"></i>
    <ng-container>
      <ul>
        <li class="item-holder" *ngFor="let basket of baskets">{{basket?.pizza?.pizzaName}}
          <p *ngIf="basket.size">50cm</p>
          <p *ngIf="!basket.size">32cm</p>
          <p *ngIf="basket.thick">vastag</p>
          <p *ngIf="!basket.thick">vékony</p>
          <button class="delete-button" (click)="deleteItem(basket)">Elem törlése</button>
        </li>
      </ul>
      <div>
        <button class="clear-basket-button" (click)="deleteBasket()">Kosár kiürítése</button>
        <button class="redirect-button" (click)="navigateToSecond()">Rendelés leadása</button>
      </div>
      <div class="basket-price">A kosár értéke: {{sumPrice}} Ft</div>
    </ng-container>
  </div>
</div>
<div class="app-body">
  <div class="body-wrapper">
    <h3>Az elérhető kínálat a következő:</h3>
    <div class="button-wrapper">
      <button class="list-show-button" (click)="listRequested()">Lista mutatása/rejtése</button>
      <button id="fajtak" class="type-show-button" (click)="typeRequested()">Rejtsd el a fajtákat!</button>
    </div>
    <ng-container *ngIf="visibleList">
      <ul>
        <li class="pizza-type" *ngFor="let pizza of pizzas">{{pizza}}:
          <div class="pizza-toppings" *ngIf="pizza ==='Sonkás'">
            <div *ngFor="let topping of sonkasToppings">
              <p *ngIf="topping === 'mozzarella'">{{topping}}</p>
              <p *ngIf="topping != 'mozzarella'">{{topping}}, </p>
            </div>
          </div>
          <div class="pizza-toppings" *ngIf="pizza ==='Hawaii'">
            <div *ngFor="let topping of hawaiiToppings">
              <p *ngIf="topping === 'mozzarella'">{{topping}}</p>
              <p *ngIf="topping != 'mozzarella'">{{topping}}, </p>
            </div>
          </div>
          <div class="pizza-toppings" *ngIf="pizza ==='Songoku'">
            <div *ngFor="let topping of songokuToppings">
              <p *ngIf="topping === 'mozzarella'">{{topping}}</p>
              <p *ngIf="topping != 'mozzarella'">{{topping}}, </p>
            </div>
          </div>
          <div class="pizza-toppings" *ngIf="pizza ==='Szalámis'">
            <div *ngFor="let topping of szalamisToppings">
              <p *ngIf="topping === 'mozzarella'">{{topping}}</p>
              <p *ngIf="topping != 'mozzarella'">{{topping}}, </p>
            </div>
          </div>
          <div class="pizza-toppings" *ngIf="pizza ==='Kusza'">
            <div *ngFor="let topping of kuszaToppings">
              <p *ngIf="topping === 'mozzarella'">{{topping}}</p>
              <p *ngIf="topping != 'mozzarella'">{{topping}}, </p>
            </div>
          </div>
          <div class="pizza-toppings" *ngIf="pizza ==='Joker'">
            <div *ngFor="let topping of jokerToppings">
              <p *ngIf="topping === 'mozzarella'">{{topping}}</p>
              <p *ngIf="topping != 'mozzarella'">{{topping}}, </p>
            </div>
          </div>
          <div class="pizza-toppings" *ngIf="pizza ==='Magyaros'">
            <div *ngFor="let topping of magyarosToppings">
              <p *ngIf="topping === 'mozzarella'">{{topping}}</p>
              <p *ngIf="topping != 'mozzarella'">{{topping}}, </p>
            </div>
          </div>
          <div class="pizza-toppings" *ngIf="pizza ==='Ördög'">
            <div *ngFor="let topping of ordogToppings">
              <p *ngIf="topping === 'mozzarella'">{{topping}}</p>
              <p *ngIf="topping != 'mozzarella'">{{topping}}, </p>
            </div>
          </div>
          <div class="pizza-toppings" *ngIf="pizza ==='Albínó Batman'">
            <div *ngFor="let topping of abToppings">
              <p *ngIf="topping === 'mozzarella'">{{topping}}</p>
              <p *ngIf="topping != 'mozzarella'">{{topping}}, </p>
            </div>
          </div>
          <div class="pizza-toppings" *ngIf="pizza ==='Yolo'">
            <div *ngFor="let topping of yoloToppings">
              <p *ngIf="topping === 'mozzarella'">{{topping}}</p>
              <p *ngIf="topping != 'mozzarella'">{{topping}}, </p>
            </div>
          </div>
          <div class="pizza-toppings" *ngIf="pizza ==='MCStar'">
            <div *ngFor="let topping of mcstarToppings">
              <p *ngIf="topping === 'mozzarella'">{{topping}}</p>
              <p *ngIf="topping != 'mozzarella'">{{topping}}, </p>
            </div>
          </div>
        </li>
      </ul>
    </ng-container>
  </div>
  <ng-container *ngIf="visibleTypes">
    <div class="offer-page" *ngFor="let pizza of pizzas">
      <div class="pizza-head">
        <h2 class="pizza-header">{{pizza}}</h2>
        <img class="pizza-image" src="../assets/images/pizza.jpg" alt="Pizza image"/>
      </div>
      <div class="pizza-body" id="{{pizza}}">
        <div class="option-chooser">
          <div class="thickness">
            <button class="thick-button" id="{{pizza}}thick" (click)="thickChoice(pizza)">Vastag tészta</button>
            <button class="thin-button" id="{{pizza}}thin" (click)="thinChoice(pizza)">Vékony tészta</button>
          </div>
          <div class="diameter">
            <button class="button-32" id="{{pizza}}small" (click)="smallChoice(pizza)">32cm-es</button>
            <button class="button-50" id="{{pizza}}big" (click)="bigChoice(pizza)">50cm-es</button>
          </div>
          <div class="price-area">
            <p class="show-price">Ár: </p>
            <ng-container *ngIf="pizza==='Sonkás'">
              <p class="choose-price" *ngIf="sonkasBigDiameter">{{bigprice}} Ft</p>
              <p class="choose-price" *ngIf="sonkasBigDiameter === false ">{{smallprice}} Ft</p>
            </ng-container>
            <ng-container *ngIf="pizza==='Hawaii'">
              <p class="choose-price" *ngIf="hawaiiBigDiameter">{{bigprice}} Ft</p>
              <p class="choose-price" *ngIf="hawaiiBigDiameter === false ">{{smallprice}} Ft</p>
            </ng-container>
            <ng-container *ngIf="pizza==='Songoku'">
              <p class="choose-price" *ngIf="songokuBigDiameter">{{bigprice}} Ft</p>
              <p class="choose-price" *ngIf="songokuBigDiameter === false ">{{smallprice}} Ft</p>
            </ng-container>
            <ng-container *ngIf="pizza==='Szalámis'">
              <p class="choose-price" *ngIf="szalamisBigDiameter">{{bigprice}} Ft</p>
              <p class="choose-price" *ngIf="szalamisBigDiameter === false ">{{smallprice}} Ft</p>
            </ng-container>
            <ng-container *ngIf="pizza==='Kusza'">
              <p class="choose-price" *ngIf="kuszaBigDiameter">{{bigprice}} Ft</p>
              <p class="choose-price" *ngIf="kuszaBigDiameter === false ">{{smallprice}} Ft</p>
            </ng-container>
            <ng-container *ngIf="pizza==='Joker'">
              <p class="choose-price" *ngIf="jokerBigDiameter">{{bigprice}} Ft</p>
              <p class="choose-price" *ngIf="jokerBigDiameter === false ">{{smallprice}} Ft</p>
            </ng-container>
            <ng-container *ngIf="pizza==='Magyaros'">
              <p class="choose-price" *ngIf="magyarosBigDiameter">{{bigprice}} Ft</p>
              <p class="choose-price" *ngIf="magyarosBigDiameter === false ">{{smallprice}} Ft</p>
            </ng-container>
            <ng-container *ngIf="pizza==='Ördög'">
              <p class="choose-price" *ngIf="ordogBigDiameter">{{bigprice}} Ft</p>
              <p class="choose-price" *ngIf="ordogBigDiameter === false ">{{smallprice}} Ft</p>
            </ng-container>
            <ng-container *ngIf="pizza==='Albínó Batman'">
              <p class="choose-price" *ngIf="abBigDiameter">{{bigprice}} Ft</p>
              <p class="choose-price" *ngIf="abBigDiameter === false ">{{smallprice}} Ft</p>
            </ng-container>
            <ng-container *ngIf="pizza==='Yolo'">
              <p class="choose-price" *ngIf="yoloBigDiameter">{{bigprice}} Ft</p>
              <p class="choose-price" *ngIf="yoloBigDiameter === false ">{{smallprice}} Ft</p>
            </ng-container>
            <ng-container *ngIf="pizza==='MCStar'">
              <p class="choose-price" *ngIf="mcstarBigDiameter">{{bigprice}} Ft</p>
              <p class="choose-price" *ngIf="mcstarBigDiameter === false ">{{smallprice}} Ft</p>
            </ng-container>
          </div>
        </div>
        <div class="button-area">
          <div class="button-wrapper">
            <input class="placeholder" id="{{pizza}}input" placeholder="0" disabled/>
            <button class="plus-button" (click)="increase(pizza)">+</button>
            <button class="minus-button" (click)="decrease(pizza)">-</button>
          </div>
          <button class="order-button" (click)="submitBoxes(pizza)">Leadás</button>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="app-footer">
  <p>Készült 2020-ban a BME-VIK Önálló Laboratórium 1 tárgy keretein belül</p>
</div>
